{% extends "base.html" %}
{% block nav %}
    <a class="nav-link" href="{% url 'create' %}">Добавить статью</a>
{% endblock %}
{% block content %}
    <div class="border rounded-3 my-4 p-3">
        <h1>Статьи</h1>
    </div>
    <div class="row row-cols-md-3 g-4">
        {% for article in articles %}
            <div class="col">
                <div class="card border-secondary h-100 mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <span>{{ article.created_at| date:'Y-m-d' }}</span>
                    </div>
                    <div class="card-body text-secondary d-flex flex-column">
                        <p class="card-text">
                            {% if article.content %}{{ article.content|truncatewords:5 }}{% else %}---{% endif %}</p>
                        <span>Автор: {% if article.author %}{{ article.author }}{% else %}---{% endif %}</span>
                        <a href="{% url 'detail' article.pk %}" class="card-link mt-auto ms-auto">Подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет данных</p>
        {% endfor %}
    </div>
{% endblock %}